<!doctype html>
<html lang="ko">
  <head>

    <!-- 페이지 아이콘 변경 -->
    <link rel="icon" href="/static/image/logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cryptocurrency Automated Trading</title>

      <!-- datepicker -->
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="/static/css/making_money.css" rel="stylesheet">

      <link href="/static/css/custom.css" rel="stylesheet">
      <style>
          .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
          @media (min-width: 768px) { .container { width: 750px; } }
          @media (min-width: 992px) { .container { width: 850px; } }
          @media (min-width: 1200px) { .container { width: 850px; } }
          .container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }


      </style>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <image src="/static/image/logo_small.png"></image>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="cat_navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/cat">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">History</a>
          </li>
        </ul>
        <ul class="form-inline my-2 my-md-0">
             <li class="navbar-nav">
              <a id="myId" style="color:#c8c8c8" href="{%url 'userSetting' %}">{{data.userId}}</a>
             </li>
            <li class="navbar-nav">
              <a style="color:#c8c8c8">&nbsp;/&nbsp; </a>
             </li>
             <li class="navbar-nav">
              <a id="logout" style="color:#c8c8c8" href="{%url 'logout' %}">logout</a>
             </li>
        </ul>

      </div>
    </nav>

    <main id="main" class="container">

        <blockquote class="blockquote text-center" style="padding:10px">
          <h1>Cryptocurrency Automated Trading</h1>
        </blockquote>

        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="">
                        <div class="row" style="padding:5px;">
                            <div class="col-sm-12">
                                <div id="animation">
                                  <div id="animaionIcon"></div>
                                  <div id="animaionText">TRADE</div>
                                  <p>Do Nothing...</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding:5px;">
                            <div class="col-sm-8 setLeft" style="padding:5px;">
                                    <label class="text-center setLeft" for="myMoney" style="padding:5px; width:15%">Money:</label>
                                    <input type="text" class="form-control setLeft" id="myMoney" style="width:35%">
                                    <label class="text-center setLeft" for="myCoin" style="padding:5px; width:15%">Coin:</label>
                                    <input type="text" class="form-control setLeft" id="myCoin"style="width:35%;">
                            </div>
                            <div class="col-sm-4" style="padding:5px;">
                                <div>
                                <button class="btn btn-primary" id="startBtn" style="width:100%">START</button>
                                <button class="btn btn-danger" id="stopBtn" style="width:100%; display:none">STOP</button>
                                    </div>
                            </div>
                        </div>
                        <div id="programSetting">
                            <div class="row" style="padding:5px;">
                                <div class="col-sm-2" style="padding:5px;">
                                    <div class="input-group">
                                        <select class="form-control text-center" style="text-align:center">
                                            <option value="BTC">BTC</option>
                                            <option value="ETH">ETH</option>
                                            <option value="REP">REP</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-5" style="padding:5px;">
                                        <input class="text-center" id="startDay" placeholder="startDay" />
                                </div>
                                <div class="col-sm-5"style="padding:5px;">
                                        <input class="text-center" id="endDay" placeholder="endDay" />
                                </div>

                            </div>
                        </div>

                </div>
            </div>
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </main>
    <div class="container">
        <form sytle="display: none" >
            <input type="hidden" id="userId" value={{data.userId}}>
            <input type="hidden" id="userName">
            <input type="hidden" id="userStatus" value={{data.userStatus}}>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

    <script src="/static/js/custom.js"></script>

    <script>


    </script>
  </body>
</html>