<!doctype html>
<html lang="ko">
  <head>

    <!-- 페이지 아이콘 변경 -->
    <link rel="icon" href="/static/image/CAT_LOGO.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cryptocurrency Automated Trading</title>

      <!-- datepicker -->
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="/static/css/making_money.css" rel="stylesheet">

      <link href="/static/css/custom.css" rel="stylesheet">
      <style>
          .container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
          @media (min-width: 768px) { .container { width: 750px; } }
          @media (min-width: 992px) { .container { width: 850px; } }
          @media (min-width: 1200px) { .container { width: 850px; } }
          .container-fluid { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }


      </style>
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <image src="/static/image/logo_small.png"></image>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="cat_navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/cat">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="history">History</a>
          </li>
        </ul>
        <ul class="form-inline ">
             <li class="navbar-nav">
              <a id="myId" style="color:#c8c8c8" href="{%url 'userSetting' %}">{{data.userId}}</a>
             </li>
            <li class="navbar-nav">
              <a style="color:#c8c8c8">&nbsp;/&nbsp; </a>
             </li>
             <li class="navbar-nav">
              <a id="logout" style="color:#c8c8c8" href="{%url 'logout' %}">logout</a>
             </li>
        </ul>

      </div>
    </nav>

    <main id="main" class="container">

        <blockquote class="blockquote text-center" style="padding:10px">
          <h1>Cryptocurrency Automated Trading</h1>
        </blockquote>

        <div class="container">
            <div class="row">
                <div class="col-sm-12" style="">
                        <div class="row p1" >
                            <div class="col-sm-12">
                                <div id="animation">
                                  <div id="animaionIcon"></div>
                                  <div id="animaionText">TRADE</div>
                                  <p>Do Nothing...</p>
                                </div>
                            </div>
                        </div>
                        <div class="row pd1">
                            <div class="col-sm-3  pd1" >

                            </div>
                            <div class="col-sm-4 col-10 pd2" >
                                <div>
                                    <button class="btn btn-danger" id="testBtn" style="width:100%">TEST</button>
                                </div>
                            </div>
                            <div class="col-sm-4 col-10 pd2" >
                                <div>
                                <button class="btn btn-primary" id="startBtn" style="width:100%">START</button>
                                <button class="btn btn-danger" id="stopBtn" style="width:100%; display:none">STOP</button>
                                </div>
                            </div>
                             <div class="col-sm-1 col-2 pd2" >
                                <button class="btn btn-secondary" id="settingBtn" style="width:100%">
                                    <image src="/static/image/setting.png" style="width:20px; height:20px"></image>
                                </button>
                            </div>
                        </div>
                        <div id="programSetting" style="display:none">

                            <div class="row pd1">
                                <div class="col-sm-2 col-4 pd2" >
                                    <div class="input-group">
                                        <select class="form-control text-center" id="ticker" style="text-align:center">
                                            <option value="">None</option>
                                            {% for ticker,name in data.tickers %}
                                            <option value="{{ticker}}"><b style="font-size:5px">{{ticker}}</b></option>
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>

                                <!--
                                <div class="col-sm-5 col-5 pd2" >
                                        <input class="text-center" id="startDay" placeholder="startDay" value="{{data.today}}" />
                                </div>
                                <div class="col-sm-5 col-5 pd2">
                                        <input class="text-center" id="endDay" placeholder="endDay" />
                                </div>
                                -->
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-12 pd2" >
                                <table class="table table-dark">
                                    <thead>
                                        <tr>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-4 col-4" >
                                                        <b>TICKER</b>
                                                        <div class="loader hide" ></div>
                                                        <input type="text" class="form-control form-control dataList" id="tickerName" style="text-align:center" disabled/>
                                                    </div>
                                                    <div class="col-sm-5 col-5" >
                                                        <b>PRICE</b>
                                                        <div class="loader hide" ></div>
                                                        <input type="text" class="form-control form-control dataList" id="price" style="text-align:right" disabled/>
                                                    </div>
                                                    <div class="col-sm-3 col-3" >
                                                        <b>UP DOWN</b>
                                                        <div class="loader hide" ></div>
                                                        <input type="text" class="form-control form-control dataList" id="updown" style="text-align:center" disabled/>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-6">
                                                        <b>Set up rate MDD</b>
                                                        <select class="form-control text-center" id="mddSelect" style="text-align:center">
                                                            <option value="">전체</option>
                                                            <option value="0">지난 6개월간 상승률</option>
                                                            <option value="1">지난 1년간 상승률</option>
                                                            <option value="2">지난 2년간 상승률</option>
                                                            <option value="3">지난 3년간 상승률</option>
                                                         </select>
                                                    </div>
                                                     <div class="col-sm-6 col-6">
                                                         <b>Maximum Draw Down</b>

                                                        <div class="loader hide" id="mdd_loader" ></div>
                                                        <div class="row" id="mddInfo">
                                                            <div class="col-sm-11 col-11">
                                                                 <input type="text" class="form-control form-control dataList" id="mdd" style="text-align:right" disabled/>
                                                            </div>
                                                            <div class="col-sm-1 col-1 dataList" style="margin-left:-25px">
                                                                <h4>%</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-6 col-6">
                                                        <b>Set up rate HPR</b>
                                                        <select class="form-control text-center" id="hprSelect" style="text-align:center">
                                                            <option value="">전체</option>
                                                            <option value="0">지난 6개월간 상승률</option>
                                                            <option value="1">지난 1년간 상승률</option>
                                                            <option value="2">지난 2년간 상승률</option>
                                                            <option value="3">지난 3년간 상승률</option>
                                                         </select>
                                                    </div>
                                                     <div class="col-sm-6 col-6">
                                                         <b>Holding Period Return</b>

                                                        <div class="loader hide" id="hpr_loader" ></div>
                                                        <div class="row" id="hprInfo">
                                                            <div class="col-sm-11 col-11">
                                                                 <input type="text" class="form-control form-control dataList" id="hpr" style="text-align:right" disabled/>
                                                            </div>
                                                            <div class="col-sm-1 col-1 dataList" style="margin-left:-25px">
                                                                <h4>%</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-12 col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                                        <div class="btn btn-dark active">
                                                            <input type="radio" name="Tradingset" id="testTradingBtn"> Test Auto Trading
                                                        </div>
                                                        <div class="btn btn-dark">
                                                            <input type="radio" name="Tradingset" id="realTradingBtn"> Real Auto Trading
                                                        </div>
                                                    </div>

                                                </div>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th colspan="4">
                                                <div class="row">
                                                    <div class="col-sm-12 col-12 btn-group btn-group-toggle" data-toggle="buttons">
                                                        <div class="btn btn-dark active">
                                                            <input type="radio" name="tradeAlgorithm" id="BV"> Breaking Volatility
                                                        </div>
                                                        <div class="btn btn-dark">
                                                            <input type="radio" name="tradeAlgorithm" id="BB"> Bolinger Band
                                                        </div>
                                                        <div class="btn btn-dark">
                                                            <input type="radio" name="tradeAlgorithm" id="ST"> ShortTerm Investment
                                                        </div>
                                                    </div>

                                                </div>
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                            <!-- 스크롤바 생성용 -->
                            <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                        </div>

                </div>
            </div>
        </div>
    </main>
    <div class="container">
        <form sytle="display: none" >
            <input type="hidden" id="userId" value={{data.userId}}>
            <input type="hidden" id="userName">
            <input type="hidden" id="userStatus" value={{data.userStatus}}>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>

    <script src="/static/js/custom.js?Ver=24"></script>

    <script>

    </script>
  </body>
</html>