<!doctype html>
<html lang="ko">
  <head>

    <!-- 페이지 아이콘 변경 -->
    <link rel="icon" href="/static/image/CAT_LOGO.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CAT SignUP</title>

      <!-- datepicker -->
      <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link href="/static/css/making_money.css" rel="stylesheet">

      <link href="/static/css/signup.css" rel="stylesheet">
  </head>
  <body>
     <div class="container">
      <div class="col-md-6 mx-auto text-center">
         <div class="header-title">
             <h1 class="wv-heading--title">
               User Setting Page
             </h1>
             <h2 class="wv-heading--subtitle">
               Cryptocurrency Automated Trading Program
             </h2>
         </div>
      </div>
      <div class="row">
         <div class="col-md-4 mx-auto">
            <div class="myform form ">
               <form action="/saveUserSetting/" accept-charset="utf-8" method="POST" name="saveUserSetting" >
                   <div class="form-group">
                        <b>ID</b>
                        <input type="text" name="_userId"  class="form-control my-input" id="_userId" value="{{data.userId}}"  disabled/>
                   </div>
                   <div class="form-group">
                       <b>NAME</b>
                       <input type="text" name="userName"  class="form-control my-input" id="userName" value="{{data.userName}}"  />
                   </div>
                   <div class="form-group">
                       <b>PhoneNumber</b>
                       <input type="text" name="userPhone"  class="form-control my-input" id="userPhone" value="{{data.userPhone}}"  />
                   </div>
                   <div class="form-group">
                       <b>Scheduler Id</b>
                       <input type="text" name="_userScheduler"  class="form-control my-input" id="_userScheduler" value="{{data.userScheduler}}" disabled/>
                   </div>
                   <div class="form-group">
                        <input type="hidden" name="userId"  class="form-control my-input" id="userId" value="{{data.userId}}"  />
                   </div>
                   <div class="form-group">
                       <input type="hidden" name="userScheduler"  class="form-control my-input" id="userScheduler" value="{{data.userScheduler}}" />
                   </div>
                   <div class="form-group">
                       <button type="button" id="showBtn" class="btn btn-block send-button  tx-tfm">-Show- API KEY Setting</button>
                       <button type="button" id="hideBtn" class="btn btn-block c-button" style="display:none">-Hide- API KEY Setting</button>
                   </div>
                   <div class="form-group" id="apiContents" style="display:none">
                       <div class="form-group">
                          <input type="text" name="bitPublicKey"  class="form-control my-input" id="bitPublicKey" placeholder="Bithumb Public Key" value="{{data.bitPublicKey}}"/>
                       </div>
                       <div class="form-group">
                          <input type="text" name="bitPrivateKey"  class="form-control my-input" id="bitPrivateKey" placeholder="Bithumb Private Key" value="{{data.bitPrivateKey}}"/>
                       </div>
                       <div class="form-group">
                          <input type="text" name="twPublicKey"  class="form-control my-input" id="twPublicKey" placeholder="Twilio Public Key" value="{{data.twPublicKey}}"/>
                       </div>
                       <div class="form-group">
                          <input type="text" name="twPrivateKey"  class="form-control my-input" id="twPrivateKey" placeholder="Twilio Private Key" value="{{data.twPrivateKey}}"/>
                       </div>
                       <div class="form-group">
                          <input type="text" name="twNumber"  class="form-control my-input" id="twNumber" placeholder="Twilio Number" value="{{data.twNumber}}"/>
                       </div>
                       <div class="form-group">
                            <input type="text" name="nvPublicKey"  class="form-control my-input" id="nvPublicKey" placeholder="Naver Public Key" value="{{data.nvPublicKey}}"/>
                       </div>
                       <div class="form-group">
                             <input type="text" name="nvPrivateKey"  class="form-control my-input" id="nvPrivateKey" placeholder="Naver Private Key" value="{{data.nvPrivateKey}}"/>
                       </div>
                   </div>
                   <div class="text-center ">
                      <button type="submit" class=" btn btn-block send-button tx-tfm">Save User Setting</button>
                   </div>
                   <div class="col-md-12 ">
                      <div class="login-or">
                         <hr class="hr-or">
                         <span class="span-or">or</span>
                      </div>
                   </div>
                   <div class="form-group">
                      <a class="btn btn-block g-button" href="/cat/">
                      <i class="fa fa-google"></i> Go back
                      </a>
                   </div>

               </form>
            </div>
         </div>
      </div>
   </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="/static/js/keySetting.js"></script>

    <script>
        $("#showBtn").click(function(){
            $("#apiContents").show();
            $("#hideBtn").show();
            $("#showBtn").hide();
        });

        $("#hideBtn").click(function(){
            $("#apiContents").hide();
            $("#hideBtn").hide();
            $("#showBtn").show();
        });

    </script>

  </body>
</html>